.body {
    background: #1F2937;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    color: white;
    border-radius: 2px;
    background: #3882F6;
}

.button-one {
    display: block;
    border: none;
    text-align: center;
    width: 110px;
    padding: 10px;
}

.container-one {
    display: flex;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.information-one {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.information-one p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

.img-one img {
    width: 500px;
    height: 350px;
}